{% load state_variables %}
{% load basic_default_settings %}


<li class="hover-menu-item">
    <a href="/partners/akshara/maths/">Akshara</a>
    <ul class="js-dropdown hover-menu">
      <li class="brand-green">
        <a href="/partners/akshara/maths/">GKA</a>
      </li>
      {% block reading %}
         {% include "includes/_top_nav_programmes_reading.html" %}
      {% endblock %}
      {% block preschool %}
         {% include "includes/_top_nav_programmes_preschool.html" %}
      {% endblock %}
    </ul>
</li>
     