{% extends 'backoffice/base.html' %}

{% block page_title %}Assessment Data Export{% endblock page_title %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Assessment Data Export</li>
{% endblock breadcrumb %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form_errors }}

        {% if file_url %}
            <div id="file-url">
                Your file is being generated... 
                <a id="download-link" href={{file_url}}></a>
            </div>
            <br>
        {% endif %}

        {% if file_error %}
            {{ file_error }}
            <br>
        {% endif %}

        <label>Select State</label>
          <select id="sel_state" name="state" class="form-control">
            <option value="">Select State</option>                    
            {% for state in states %}
              <option id="{{ state.char_id }}" value="{{ state.char_id }}">
                    {{ state.boundary.name }}
              </option>
            {% endfor %}
           </select>

        <label>Select Survey</label>
          <select id="sel_survey" name="survey" class="form-control">
            <option value="">Select Survey</option>                    
            {% for survey in surveys %}
              <option id="{{ survey.id }}" value="{{ survey.id }}">
                    {{ survey.name }}
              </option>
            {% endfor %}
           </select>

        <label>Select District</label>
          <select id="sel_district" name="district" class="form-control">
            <option value="">Select District</option>                    
            {% for admin1 in admin1s %}
              <option id="{{ admin1.id }}" value="{{ admin1.id }}">
                    {{ admin1.name }}
              </option>
            {% endfor %}
           </select>
       
        <label>Select Block</label>
          <select id="sel_block" name="block" class="form-control">
            <option value="">Select Block</option>                    
          </select>
      
        <label>Select Cluster</label>
          <select id="sel_cluster" name="cluster" class="form-control">
            <option value="">Select Cluster</option>                    
          </select>

        <label>Select School</label>
          <select id="sel_school" name="school" class="form-control">
            <option value="">Select School</option>                    
          </select>

        <label>Select FROM Year</label>
          <select id="from_sel_year" name="from_year" class="form-control">
            <option value="">Select Year</option>                    
            {% for y in year %}
              <option id="{{ y }}" value="{{ y }}">
                    {{ y }}
              </option>
            {% endfor %}
          </select>

        <label>Select FROM Month</label>
          <select id="from_sel_month" name="from_month" class="form-control">
            <option value="">Select Month</option>                    
            {% for key, val in month.items %}
              <option id="{{ key }}" value="{{ key }}">
                    {{ val }}
              </option>
            {% endfor %}
          </select>
        <label>Select TO Year</label>
          <select id="to_sel_year" name="to_year" class="form-control">
            <option value="">Select Year</option>                    
            {% for y in year %}
              <option id="{{ y }}" value="{{ y }}">
                    {{ y }}
              </option>
            {% endfor %}
          </select>

        <label>Select TO Month</label>
          <select id="to_sel_month" name="to_month" class="form-control">
            <option value="">Select Month</option>                    
            {% for key, val in month.items %}
              <option id="{{ key }}" value="{{ key }}">
                    {{ val }}
              </option>
            {% endfor %}
          </select>

        <div class="row">
            <hr>
        </div>

        <input class="btn btn-info" type="submit" value="Download">
        <button class="btn" value="Reset" onClick="window.location.reload()">Reset</button>

        <div class="row">
            <hr>
        </div>
    </form>
{% endblock content %}

{% block extra_js %}
    <script>
        $('select[name=state]').change(function(){
            state_id = $(this).val();
            request_url = '/api/v1/surveys/?state=' + state_id;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        results = data['results'];
                        $('select[name=survey]').empty();
                        $('select[name=survey]').append($('<option>', {value:"", text: "Select Survey"}));
                        $.each(results, function(index, item){
                            $('select[name=survey]').append($('<option>', {value:item['id'], text:item['name']}));
                        });
                    }
                })
            request_url = '/api/v1/boundary/admin1s/?state=' + state_id;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        results = data['results'];
                        $('select[name=district]').empty();
                        $('select[name=district]').append($('<option>', {value:"", text: "Select District"}));
                        $.each(results, function(index, item){
                            $('select[name=district]').append($('<option>', {value:item['id'], text:item['name']}));
                        });
                    }
                })
            }
        );

        $('select[name=district]').change(function(){
            district_id = $(this).val();
            request_url = '/api/v1/boundary/admin1/' + district_id+ '/admin2/';
            $.ajax({
                url: request_url,
                dataType: "json",
                success: function(data){
                    results = data['results'];
                    $('select[name=block]').empty();
                    $('select[name=block]').append($('<option>', {value:"", text: "Select Block"}));
                    $.each(results, function(index, item){
                        $('select[name=block]').append($('<option>', {value:item['id'], text:item['name']}));
                    });
                }
            })
        });   
        $('select[name=block]').change(function(){
            block_id = $(this).val();
            request_url = '/api/v1/boundary/admin2/' + block_id + '/admin3/';
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        results = data['results'];
                        $('select[name=cluster]').empty();
                        $('select[name=cluster]').append($('<option>', {value:"", text: "Select Cluster"}));
                        $.each(results, function(index, item){
                            $('select[name=cluster]').append($('<option>', {value:item['id'], text:item['name']}));
                        });
                    }
                })
            }
        );
        $('select[name=cluster]').change(function(){
            cluster_id = $(this).val();
            request_url = '/api/v1/surveys/institution/?boundary_id=' + cluster_id;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        results = data['results'];
                        $('select[name=school]').empty();
                        $('select[name=school]').append($('<option>', {value:"", text: "Select School"}));
                        $.each(results, function(index, item){
                            $('select[name=school]').append($('<option>', {value:item['id'], text:item['name']}));
                        });
                    }
                })
            }
        );

        $('form').submit(function () {
            var state = $('select[name=state]').val();
            var survey = $('select[name=survey]').val();
            var from_year = $('select[name=from_year]').val();
            var from_month = $('select[name=from_month]').val();
            var to_year = $('select[name=to_year]').val();
            var to_month = $('select[name=to_month]').val();
            if (!state || !survey || !from_year || !from_month) {
                alert("Please check - State, Survey, Year, Month is filled.");
                return false
            }
        });

    </script>
    {% if file_url %}
        <script>
            
        request_url = '{{ file_url }}';
        var interval = setInterval(function(){
            console.log("Request Sent");
            $.ajax({
                url: request_url,
                dataType: "json",
                success: function(data){
                },
                error: function (xhr, ajaxOptions, thrownError){
                    if(xhr.status==404) {
                        console.log("Return 404, wait till file is processed.")
                    }
                    if(xhr.status==200) {
                        document.getElementById('download-link').innerHTML = "Download CSV";
                        clearInterval(interval);
                    }
                }
            })
        }, 5000)
        </script>
    {% endif %}
{% endblock extra_js %}