{% extends 'backoffice/base.html' %}
{% load static %}
{% load compress %}
{% load state_variables %}
{% load basic_default_settings %}
{% load i18n %}


{% block css_extra %}
      <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="all">
      <link type="text/css" rel="stylesheet" href="/static/css/dataanalysis.css" media="all">
      <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css" media="all">
{% endblock %}

{% block extra_js%}
    <script>
        window.klp = {};
        window.klp.STATE_CODE = '{%get_state_value "state_code"%}';
        console.log("State code in base.html is: ", window.klp.STATE_CODE)
        window.klp.DEFAULT_ACADEMIC_YEAR = '{%get_default_academic_year%}'
        window.klp.FORMATTED_DEFAULT_AC_YEAR = '{%get_formatted_default_academic_year%}'
    </script>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
  <!--script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/jquery-1.11.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/underscore-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/select2-3.5.1/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/underscore.string.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/klprouter.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/api.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/auth.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/accordion.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/boundary_filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/login_modal.js' %}"></script-->
{% endblock %}

{% block content %}

<section class="container" id="search">
  <div class="base-spacing-mid"></div>
  <h2 class="heading-border grey-steel">{% trans 'Analysis'%}</h2>
  <div class="container" id="AnalysisContainer">
	  <h3 class="center-text"> {{charttype}}</h3>
	  {{status}}
	  <script type="text/javascript">
              var counter = 0
	      {% for img in data %}
                  var div = document.createElement("div");
		  div.setAttribute('id','fig'+counter);
		  div.setAttribute('class','box');
		  document.getElementById("AnalysisContainer").appendChild(div);
                  var i = document.createElement("img");
		  i.setAttribute('src',"data:image/png;base64,{{img}}")
		  div.appendChild(i)
	      {% endfor %}
	  </script>
  <!--div class="box">
	  {{status}}
	  <img src="data:image/png;base64,{{data}}"/>
	  <!--script type="text/javascript">
              var counter = 0
              {% for jsondata in data %}
	          counter += 1
	          jsongraph = {{ jsondata|safe }};
                  var div = document.createElement("div");
		  div.setAttribute('id','fig'+counter);
		  div.setAttribute('class','sect-full');
		  document.getElementById("AnalysisContainer").appendChild(div);
	          mpld3.draw_figure("fig"+counter, jsongraph);
              {% endfor %}
	  </script-->
  </div-->
  </div>
</section>
{% endblock content %}
